
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div class="content">
    <div class="Category">
        <h4>&nbsp;Category</h4>
        <ul>
            <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/arrowbullet.gif") alt="" />&nbsp; Lorem ipsum dolor sit amet...</a></li>
            <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/arrowbullet.gif") alt="" />&nbsp; Lorem ipsum dolor sit amet...</a></li>
            <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/arrowbullet.gif") alt="" />&nbsp; Lorem ipsum dolor sit amet...</a></li>
            <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/arrowbullet.gif") alt="" />&nbsp; Lorem ipsum dolor sit amet...</a></li>
            <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/arrowbullet.gif") alt="" />&nbsp; Lorem ipsum dolor sit amet...</a></li>
            <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/arrowbullet.gif") alt="" />&nbsp; Lorem ipsum dolor sit amet...</a></li>
            <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/arrowbullet.gif") alt="" />&nbsp; Lorem ipsum dolor sit amet...</a></li>
            <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/arrowbullet.gif") alt="" />&nbsp; Lorem ipsum dolor sit amet...</a></li>
            <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/arrowbullet.gif") alt="" />&nbsp; Lorem ipsum dolor sit amet...</a></li>
            <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/arrowbullet.gif") alt="" />&nbsp; Lorem ipsum dolor sit amet...</a></li>
        </ul><br>
        <h4>&nbsp;Services</h4>
        <ul>
            <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/arrowbullet.gif") alt="" />&nbsp; Lorem ipsum dolor sit amet...</a></li>
            <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/arrowbullet.gif") alt="" />&nbsp; Lorem ipsum dolor sit amet...</a></li>
            <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/arrowbullet.gif") alt="" />&nbsp; Lorem ipsum dolor sit amet...</a></li>
            <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/arrowbullet.gif") alt="" />&nbsp; Lorem ipsum dolor sit amet...</a></li>
            <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/arrowbullet.gif") alt="" />&nbsp; Lorem ipsum dolor sit amet...</a></li>
            <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/arrowbullet.gif") alt="" />&nbsp; Lorem ipsum dolor sit amet...</a></li>
        </ul><br>
        <h4>&nbsp;Specials</h4>
        <ul>
            <li><img src=@Url.Content("~/Content/MyTemplate/images/special1.png") alt="" /></li>
            <li><h6>Lorem ipsum dolor sit amet...</h6><h6>Lorem ipsum ...</h6></li>
            <li><h5>$20.00</h5></li>
            <li><h3>$22.00</h3></li>
        </ul>
    </div>
    <div class="main">
        <h4>Welcome to our site</h4>
        <div class="grid1">
            <img src=@Url.Content("~/Content/MyTemplate/images/chef.jpg") title="chef" alt="" />
            <div class="clear">  </div>
            <p>Since technology has advanced in each and every field of life so it would be unfair to leave the field of food delivery unattempted. This is a field which can never be overlooked by anyone since each person is concerned with the food and all the people feel hungry. So we have come up with a solution of providing the users with their desired food at their own doorstep. All you have to do is to make an account on this website. While making an account the user will provide all his/her information I.e first name, last name, profile picture etc. There will be three actors. The admin will be able to modify the food items, approve the requests of users, block the users as well as all the administrative activities will be performed by the admin. There will be different modules depending on the type of food being selected I.e. fast food, desi food and junk food. So the users will have the facility to select and order a food of their own choice. So there will be no more worries of cooking food daily. And the tensions for buying groceries will also be reduced as well as the time to cook food can be invested in some other more important and useful task. So in this way users will not only be able to perform their activities more efficiently and effectively but also their tensions of cooking the desired food will be vanished. Because the food of their choice will be just a click away. So just order the food and chill In your home and wait for your food to arrive your house in 10 to 20 minutes. This will be a whole new revolution in the world of cooking food and the delivery of food. Our project wil be very useful for the household jobs as well as the people who don’t have access to the food somehow. It can be useful for all the sects of the society.</p>
        </div>
        <div class="clear"> </div>
        <div class="list">
            <h2>OUR SPECIALS</h2>
            <ul>
                <li><img src=@Url.Content("~/Content/MyTemplate/images/special5.jpg") alt="" /></li>
                <li><h6>Chiken Sweet Pizza</h6><h6>Cherry Garlic</h6></li>
                <li><h5>120.00Rs</h5></li>
                <li><h3>222.00Rs</h3></li>
            </ul>
            <ul>
                <li><img src=@Url.Content("~/Content/MyTemplate/images/special2.jpg") alt="" /></li>
                <li><h6>Russian Salid</h6><h6>Spinach tomato</h6></li>
                <li><h5>130.00Rs</h5></li>
                <li><h3>322.00Rs</h3></li>
            </ul>
            <ul>
                <li><img src=@Url.Content("~/Content/MyTemplate/images/special3.jpg") alt="" /></li>
                <li><h6>Tomato marsh mallow</h6><h6>Lotus Harbor Dish</h6></li>
                <li><h5>220.00Rs</h5></li>
                <li><h3>422.00Rs</h3></li>
            </ul>
            <ul>
                <li><img src=@Url.Content("~/Content/MyTemplate/images/special4.jpg") alt="" /></li>
                <li><h6>Tiffita Carol</h6><h6>Leaf Carrot</h6></li>
                <li><h5>420.00Rs</h5></li>
                <li><h3>322.00Rs</h3></li>
            </ul>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="clear"> </div>
</div>

<div class="clear"> </div>



