
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}


    <div class="clear"> </div>
    <div class="boxs">
        <div class="clear"> </div>
        <div class="box1">
            <ul>
                <li><h2>Welcome</h2></li>
                <li><img src=@Url.Content("~/Content/MyTemplate/images/page1_img1.jpg") title="img1" alt="" /></li>
                <li>
                    <p>
                       We welcome you to our website where will 
                        serve you the world's number 1 food
                        with high quality and great taste.
                    </p>
                </li>
                <li class="more"><a href="#">MORE</a></li>
            </ul>
        </div>
        <div class="box1">
            <ul>
                <li><h2>Our Services</h2></li>
                <li class="list2">
                    <ul>
                        <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/marker2.jpg") title="marker" alt="" />&nbsp;Family Getaway</a></li>
                        <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/marker2.jpg") title="marker" alt="" />&nbsp;Discover Our Destination</a></li>
                        <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/marker2.jpg")title="marker" alt="" />&nbsp;Just Married</a></li>
                        <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/marker2.jpg") title="marker" alt="" />&nbsp;Complimentary in-room Internet access</a></li>
                        <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/marker2.jpg") title="marker" alt="" />&nbsp;Dream Suite</a></li>
                        <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/marker2.jpg") title="marker" alt="" />&nbsp;Romantic Getaway</a></li>
                        <li><a href="#"><img src=@Url.Content("~/Content/MyTemplate/images/marker2.jpg") title="marker" alt="" />&nbsp;15% Point bonus on each stay</a></li>
                        <li class="more"><a href="#">MORE</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="box1">
            <ul>
                <li><h2>Our Restaurant</h2></li>
                <li><img src=@Url.Content("~/Content/MyTemplate/images/page1_img2.jpg") title="img1" alt="" /></li>
                <li>
                    <p>
                        Our services are also availabe via restaurant.
                        So if you want to have a hangout with family as well as
                        wanna enjoy delipticle food then come to us. We are here to serve you.
                    </p>
                </li>
                <li class="more"><a href="#">MORE</a></li>
            </ul>
            <div class="clear"> </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"> </div>
<div class="clear"> </div>

