
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div class="products">
    <h3>Our products</h3>
</div>
<div class="product-grids">
    <div class="product-grid">
        <img src=@Url.Content("~/Content/MyTemplate/images/thumb-1.jpg") alt="" />
        <h4>Cheese Salid</h4>
        <p>The sauce used to flavor a salad is commonly called a salad dressing; most salad dressings are based on either a mixture of oil and vinegar or a fermented milk product like kefir. </p>
    </div>
    <div class="last1">
        <img src=@Url.Content("~/Content/MyTemplate/images/thumb-3.jpg") alt="" />
        <h4>Spaghettoni</h4>
        <p>Spaghettoni is a thicker form of spaghetti, while capellini is a very thin spaghetti. It is a staple food of traditional Italian cuisine.</p>
    </div>
    <div class=@Url.Content("~/Content/MyTemplate/product-grid")>
        <img src=@Url.Content("~/Content/MyTemplate/images/thumb-5.jpg") alt="" />
        <h4>Elk Burger</h4>
        <p>An elk burger not only has more protein than traditional ground beef</p>
    </div>
    <div class="product-grid">
        <img src=@Url.Content("~/Content/MyTemplate/images/thumb-2.jpg") alt="" />
        <h4>Strawberry Cake</h4>
        <p>Strawberry cake is a cake that uses strawberry as a primary ingredient. Strawberries may be used in the cake batter, atop cakes and in a strawberry cake's frosting. Some are served chilled or partially frozen, and they are sometimes served as a Valentine's Day dish.</p>
    </div>
    <div class="last1">
        <img src=@Url.Content("~/Content/MyTemplate/images/thumb-6.jpg") alt="" />
        <h4>Kofty</h4>
        <p>Kofta is a family of meatball or meatloaf dishes found in the Indian subcontinent, South Caucasian, Middle Eastern, Balkan, and Central Asian cuisines. </p>
    </div>
    <div class="product-grid">
        <img src=@Url.Content("~/Content/MyTemplate/images/thumb-8.jpg") alt="" />
        <h4>Cheese Wheel Cake</h4>
        <p>Cheese Wheel cake is a sweet dessert consisting of one or more layers. The main, and thickest layer, consists of a mixture of soft, fresh cheese, eggs, and sugar. </p>
    </div>
    <div class="product-grid">
        <img src=@Url.Content("~/Content/MyTemplate/images/thumb-4.jpg") alt="" />
        <h4>Cheese</h4>
        <p>Cheese atop crackers, a dreamy pizza with melted cheese, a piping hot bowl of mac n cheese, a heavenly ham and cheese sandwich, and the list goes on. Cheese is the one ingredient which is used worldwide and is loved by over half the world's population. </p>
    </div>
    <div class="last1">
        <img src=@Url.Content("~/Content/MyTemplate/images/thumb-9.jpg") alt="" />
        <h4>Handi</h4>
        <p>Chicken handi is a recipe that has its roots deeply engrossed in tradition. This Chicken handi is a tasty and healthy meal made with cream. This special chicken dish is cooked in the country style in a 'handi' </p>
    </div>
    <div class="product-grid">
        <img src=@Url.Content("~/Content/MyTemplate/images/thumb-11.jpg") alt="" />
        <h4>Fruit chart</h4>
        <p>Fruit chart is one of the most eaten food across the world especially in summers. Different types of fruits are cut and added in it.</p>
    </div>
</div>
<div class="clear"> </div>
<br><br>


